<footer>
    <div class="footer-section">
        <h4>MKM Cubiertas</h4>
        <p>Especialistas en cubiertas y áreas sociales. Transformamos tu terraza en el mejor lugar de tu casa.</p>
    </div>
    <div class="footer-section">
        <h4>Contacto</h4>
        <p>Email: info@mkmcubiertas.com</p>
        <p>Tel: 81 2674 8746</p>
        <p>San Pedro Garza García, N.L.</p>
    </div>
    <div class="footer-section">
        <h4>Siguenos</h4>
        <a href="https://www.instagram.com/mkm_cubiertas?igsh=MW9oc3dsZnQ3Z0cw==">Instagram</a><br>
        <a href="#">Facebook</a>
    </div>
    <div class="footer-bottom">
        &copy; 2026 MKM Cubiertas - Landing de Arquitectura
    </div>
</footer>
